<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Login</title>
</head>
<body>

<div class="form-container">

  <% if (error.length > 0) { %>
      <div class="error-message">
        <% error.forEach(function(msg) { %>
          <p><%= msg %></p>
          <% }) %>
        </div>
        <% } %>

    <% if (success.length > 0) { %>
      <div class="success-message">
        <% success.forEach(function(msg) { %>
          <p><%= msg %></p>
          <% }) %>
        </div>
        <% } %>


  <h2>Login</h2>

  <form method="POST" action="/login">
    <label>Email</label>
    <input type="email" name="username" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button type="submit">Login</button>
  </form>

  <p>Don't have an account?</p>
  <a href="/signup">Sign Up</a>

</div>

</body>
</html>
