<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>New Message</title>
</head>
<body>

<div class="form-container">
  <h2>Create New Message</h2>

  <% if (error.length > 0) { %>
      <div class="error-message">
        <% error.forEach(function(msg) { %>
          <p><%= msg %></p>
          <% }) %>
        </div>
        <% } %>

    <% if (success.length > 0) { %>
      <div class="success-message">
        <% success.forEach(function(msg) { %>
          <p><%= msg %></p>
          <% }) %>
        </div>
        <% } %>


  <form method="POST" action="/new-message">

    <label>Title</label>
    <input type="text" name="title" required />

    <label>Message</label>
    <textarea name="text" rows="4" required></textarea>

    <button type="submit">Create</button>

  </form>

  <p>
    <a href="/">Back to Home</a>
  </p>

</div>

</body>
</html>
