<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up</h2>
  <form method="POST" action="/signup">
    <label>First Name</label>
    <input type="text" name="firstName" required />
    <label>Second Name</label>
    <input type="text" name="secondName" required />
    <label>Username</label>
    <input type="email" name="username" required />
    <label>Password</label>
    <input type="password" name="password" required />
    <label>Confirm Password</label>
    <input type="password" name="confirmPassword" required />

    <button>Sign Up</button>
  </form>

  <a href="/login">Login</a>
</body>
</html>
